<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
 
	<!-- MySQL data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/MountainTracker" />
		<property name="username" value="root" />
		<property name="password" value="root" />
                
                <!--
                <property name="url" value="jdbc:mysql://mysql-dev-01.cloud.wso2.com:3306/mount_dgo4946" />
		<property name="username" value="mount__hNf5v4T" />
		<property name="password" value="mountaintracker" />
                -->
	</bean>
 
	<!-- Hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
                            <value>/MountainTracker/Mapping/Route.hbm.xml</value>
                            <value>/MountainTracker/Mapping/Coordinate.hbm.xml</value>
                            <value>/MountainTracker/Mapping/User.hbm.xml</value>
                            <value>/MountainTracker/Mapping/New.hbm.xml</value>
                            <value>/MountainTracker/Mapping/Photo.hbm.xml</value>
                            <value>/MountainTracker/Mapping/Message.hbm.xml</value>
                            <value>/MountainTracker/Mapping/Album.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
		    <props>
			<prop key="hibernate.dialect">
                           org.hibernate.dialect.MySQL5Dialect
                        </prop>
			<prop key="hibernate.format_sql">true</prop>
			<prop key="hibernate.show_sql">true</prop>
		    </props>
		</property>
	</bean>
 
        <bean id="con" class="MountainTracker.Persistance.Connection.ConnectionBuilder">
	</bean>
	<bean id="userPersistanceDAO" class="MountainTracker.Persistance.DAO.UserPersistanceDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
 
	<bean id="CustomUserDetailsService" 
                class="MountainTracker.Spring.Security.CustomUserDetailsService">
		<!--<property name="userPersistanceDAO" ref="userPersistanceDAO" />-->
	</bean>
 
	<!-- MUST have transaction manager, using aop and aspects  -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
 
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
		<tx:method name="get*" read-only="true" />
		<tx:method name="find*" read-only="true" />
		<tx:method name="*" />
	    </tx:attributes>
	</tx:advice>
 
	<aop:config>
	    <aop:pointcut id="userServicePointCut"
		expression="execution(* MountainTracker.Spring.Security.*Service.*(..))" />
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="userServicePointCut" />
	</aop:config>
 
</beans>
